acsuite_orangechannel>=6.0.0
colorama>=0.4.4
flake8>=3.9.2
langcodes>=3.1.0
language-data>=1.0
lvsfunc>=0.3.7
lxml>=4.6.3
lxml-stubs>=0.2.0
numpy>=1.21.2
mypy>=0.910
mypy-extensions>=0.4.3
pycodestyle>=2.7.0
pylint>=2.8.2
pyflakes>=2.3.1
pymediainfo>=5.1.0
pyparsebluray>=0.1.3
pyparsedvd>=0.0.3
requests>=2.25.1
requests_toolbelt>=0.9.1
types-colorama>=0.4.2
types-Pillow>=8.3.4
types-requests>=2.25.0
types-setuptools>=57.4.0
typing-extensions>=3.10.0.0
vardefunc>=0.4.0
VapourSynth>=51