langcodes~=3.3.0
language-data~=1.2
loguru~=0.7.2
lxml~=5.2.1
numpy~=1.26.4
psutil~=6.0.0
pymediainfo~=6.1.0
pyparsebluray~=0.1.4
pyparsedvd~=0.0.3
pytimeconv~=0.0.2
requests~=2.31.0
requests_toolbelt~=1.0.0
rich~=13.7.1
typing-extensions~=4.11.0
VapourSynth>=65
