langcodes~=3.3.0
language-data~=1.1
loguru~=0.6.0
lxml~=5.1.0
numpy~=1.26.4
psutil~=5.9.8
pymediainfo~=6.0.1
pyparsebluray~=0.1.4
pyparsedvd~=0.0.3
pytimeconv~=0.0.2
requests~=2.31.0
requests_toolbelt~=1.0.0
rich~=13.7.0
typing-extensions~=4.10.0
vardefunc~=0.7.0
VapourSynth==60
