langcodes~=3.3.0
language-data~=1.1
loguru~=0.6.0
lxml~=4.9.1
numpy~=1.23.4
psutil~=5.9.4
pymediainfo~=5.1.0
pyparsebluray~=0.1.4
pyparsedvd~=0.0.3
pytimeconv~=0.0.2
requests~=2.28.1
requests_toolbelt~=0.10.1
rich~=12.6.0
typing-extensions~=4.4.0
vardefunc~=0.7.0
VapourSynth==61
