sphinx-autodoc-typehints==1.13.0
lxml==4.7.1
pymediainfo==5.1.0
requests==2.25.1
colorama==0.4.4
langcodes==3.3.0
language-data==1.1
psutil==5.9.0
pyparsebluray==0.1.3
pyparsedvd==0.0.3
pytimeconv==0.0.2
requests_toolbelt==0.9.1
rich==10.14.0
typing-extensions==3.10.0.2
numpy==1.22.0
