sphinx-autodoc-typehints~=2.2.2
loguru~=0.7.2
lxml~=5.2.2
pymediainfo~=6.1.0
requests~=2.31.0
langcodes~=3.4.0
language-data~=1.2
psutil~=6.0.0
pyparsebluray~=0.1.4
pyparsedvd~=0.0.3
pytimeconv~=0.0.2
requests_toolbelt~=1.0.0
rich~=13.7.1
typing-extensions~=4.12.2
numpy~=1.26.4
