colorama~=0.4.4
sphinx-autodoc-typehints~=1.18.1
loguru~=0.6.0
lxml~=4.8.0
pymediainfo~=5.1.0
requests~=2.27.1
langcodes~=3.3.0
language-data~=1.1
psutil~=5.9.0
pyparsebluray~=0.1.3
pyparsedvd~=0.0.3
pytimeconv~=0.0.2
requests_toolbelt~=0.9.1
rich~=12.2.0
typing-extensions~=4.1.1
numpy~=1.22.3
