name: Check and create tag
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  new_version:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Get version number
        run: |
          echo "RVS_VER=v$(cat .version)" >> $GITHUB_ENV
      - name: Check if version exists
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: mukunku/tag-exists-action@v1.0.0
        id: tagcheck
        with:
          tag: ${{ env.RVS_VER }}

      - name: Make tag
        uses: actions/github-script@v3
        if: steps.tagcheck.outputs.exists == 'false'
        with:
          github-token: ${{ secrets.WORKFLOW_TOKEN }}
          script: |
            const { RVS_VER } = process.env
            github.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: `refs/tags/${RVS_VER}`,
              sha: context.sha
            })
      - name: Fallback
        if: steps.tagcheck.outputs.exists == 'true'
        run: echo "Nothing to see here, move along citizen"