name: lint

on: [push, pull_request]

jobs:
  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version:
          - "3.11"

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Get VapourSynth version number
        shell: bash
        run: |
          echo "VS_VER=$(cat requirements.txt | sed -nr "s/VapourSynth==([0-9]+)/\1/p")" >> $GITHUB_ENV

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install vapoursynth-portable==${{ env.VS_VER }}
          pip install -r requirements.txt
          pip install -r requirements-dev.txt

      - name: Running flake8
        continue-on-error: true
        run: flake8 vardautomation

      - name: Running mypy
        run: mypy vardautomation