name: lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Install zimg
        run: |
          git clone https://github.com/sekrit-twc/zimg --branch v3.0 --depth 1
          pushd zimg
          ./autogen.sh
          ./configure --disable-static --disable-simd
          make -j2
          sudo make install -j2
          popd
          rm -rf zimg

      - uses: actions/checkout@v2
      - name: Setup Python 3.9
        uses: actions/setup-python@v2
        with:
            python-version: '3.9'

      - name: Install cython
        run: |
          python3 -m pip install --upgrade pip
          pip install cython

      - name: Set PKG_CONFIG_PATH
        run: echo "PKG_CONFIG_PATH=$pythonLocation/lib/pkgconfig" >> $GITHUB_ENV

      - name: Install VapourSynth
        run: |
          git clone https://github.com/vapoursynth/vapoursynth --depth 1 vapoursynth-build
          pushd vapoursynth-build
          ./autogen.sh
          ./configure --disable-static --disable-vspipe
          make -j2
          sudo make install -j2
          pip install .
          popd
          rm -rf vapoursynth-build

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install -r requirements-dev.txt

      - name: Running pylint
        run: pylint vardautomation

      - name: Running flake8
        run: flake8 vardautomation

      - name: Running mypy
        run: mypy --install-types --non-interactive -p vardautomation